/**
 * Generic Styling
*/
body {
    background: linear-gradient(196.59deg, #96de98 0%, #23762A 75.52%);
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 112%;
}


.grid_note {
    display: grid;
    grid-template-columns: 1fr;

}

.note a {
    font-family: "schoolbell-pro", sans-serif;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

/* .note:hover a {
    color: white;
} */

.foraar {
    background-image: url('noter/note_forar.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.sommer {
    background-image: url('noter/note_sommer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.efteraar {
    background-image: url('noter/note_efterar.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.vinter {
    background-image: url('noter/note_vinter.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    position: sticky;
    width: 100%;
}