.grid_kat {
    display: grid;
    grid-template-columns: 1fr;

}

.katboks {
    background-color: gray;
    margin: 5%;
    padding: 20%;
    text-align: center;

}

.katboks a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    ;
    text-decoration: none;
}

.katboks:hover {
    background-color: rgb(235, 44, 44);
}

.katboks:hover a {
    color: white;
}

.forar {
    background-image: url('forar.jpg');
    /* Replace 'forar.jpg' with the actual image path for Forår */
}

.sommer {
    background-image: url('sommer.jpg');
    /* Replace 'sommer.jpg' with the actual image path for Sommer */
}

.efteraar {
    background-image: url('efteraar.jpg');
    /* Replace 'efteraar.jpg' with the actual image path for Efterår */
}

.vinter {
    background-image: url('vinter.jpg');
    /* Replace 'vinter.jpg' with the actual image path for Vinter */
}