body {
  background: linear-gradient(196.59deg, #96de98 0%, #23762a 75.52%);
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10vh 10%;
  line-height: 1.5;
  margin: 0 auto;
}

#smallproducttemplate {
  background-color: white;
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallproduct {
  background-color: white;
  border-radius: 50px;
  padding: 40px;
  margin: 20px;
}
mboks {
}
h2 {
  font-family: "schoolbell-pro", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-align: center;

  border: 10px solid #ffcd55;
  padding: 10%;
}
h3 {
  font-family: "schoolbell-pro", sans-serif;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .produktgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .smallproduct {
    background-color: white;
    border-radius: 50px;
    padding: 50px;
    margin: 20px;
  }
  img {
    max-width: 220px;
    height: auto;
  }
}
