.disconted {
  display: none;
}
article .onSale .discounted {
  display: block;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
.flex {
  display: flex;
  margin: 20px;
}
.flextekst {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.344);

  padding-right: 350px;
  margin-left: 30px;
  border: 4px solid grey;
}
body {
  background-color: blue;
}
#smallproducttemplate {
  background-color: white;
}
