/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #2b7e32;
  color: #fecd55;
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 15px;
  font-family: "schoolbell-pro", sans-serif;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #2b7e32;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background: #fecd55;
  color: #2b7e32;
  font-family: "schoolbell-pro", sans-serif;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 45em) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/
body {
  background: #96de98;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 112%;
}

.produktimg {
  width: 75%;
  margin-left: 10%;
  border: solid black;
  margin-top: 5%;
}

.ramme {
  border: 10px solid #fecd55;
  text-align: center;
}

.overskrift {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-family: "schoolbell-pro", sans-serif;
  color: white;
  padding: 10%;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

body {
  background-image: linear-gradient(to bottom right, #96de98, #2b7e32);
}

.tab {
  border: solid #fecd55;
  margin-right: 10%;
  border-radius: 20px;
}

.footer {
  width: 100%;
}

.card {
  background-color: white;
  margin: 10%;
  border: solid black;
}

.svamp {
  width: 25%;
  margin-left: 70%;
}

/* Style for the icon container */
.icon {
  display: inline-block;
  margin-right: 5px;
}

/* Style for the icon itself (adjust size as needed) */
.icon img {
  width: 24px;
  /* Set the width of the icon */
  height: 24px;
  /* Set the height of the icon */
  vertical-align: middle;
  /* Vertically align the icon with the text */
}

p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

/* Style for the speech bubble */
.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  padding: 10%;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

@media screen and (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}